@use "./app/layout/reset";
@use "./app/layout/layout";

@use "./app/pages/patchbay";

@use "./leptonic/leptonic-themes";
@use "./crudkit/crudkit-themes";

[data-theme] {
  --brand-color: #1d5fa8;
  --primary-color: #1d5fa8;
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}
